@mixin name {
    font-weight: 700;
    font-size: 32px;
    color:rgb(148, 3, 3);
}

.bg{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-image: url('../../images/travel-1.jpg');
   margin-top: 50px;
   background-size: cover;
   background-position: center;
}
.bg-1{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.banner{
    background-color: white ;
    height: 900px;
    width: 100%;
    background-image: url('../../images/meg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    transition: all 2s ease-out;
    h2{
        font-weight: bold;
        font-size: 64px;
        line-height: 100%;
        color: white;
    }
    p{
        margin-bottom: 0;
        font-size: 32px;
        line-height: 100%;
        color: white;
    }
}

.tour-item{
    max-height: 500px;
    position: relative;
    margin-bottom: 10px;
    padding: unset !important;
    padding-right: 10px !important;
    >img{
        width: 100%;
        height: 400px;
    }
    .content{
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        height: 100%;
        width: 100%;
        
        .tour-price{
            height: 40px;
            background-color: purple;
            padding: 10px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
        .tour-name{
            margin-top: 20px;
            width: 90%;
            height:45px;
            display: flex;
            text-align: center;
            color: white;
            font-weight: bold;
        }
    }
}

.landing-blog-item{
    position: relative;
    margin-bottom: 10px;
    padding: unset !important;
    padding-right: 10px !important;
    >img{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .blog-name{
        color: black;
        font-size: 24px;
        font-weight: bold;
    }

    .blog-content{
        color: rgba(0,0,0, 0.6);
        font-size: 18px;
    }

    .blog-date{
        color: rgba(0,0,0, 0.3);
        font-size: 18px;
    }
    .blog-own{
        color: rgb(239, 186, 108);
        font-size: 18px;
    }
}

.categorys{
    .category-title{
        position: relative;
        margin-bottom: 50px;
        margin-top: 50px;
        &:after{
            content: 'Category';
            font-family: sans-serif;
            position: absolute;
            top:-35px;
            left: 0px;
            opacity: 0.2;
            font-weight:bolder;
            font-size: 64px;
        }
        .name{
            @include name;
         }
        
    }
    .blog-title{
        position: relative;
        margin-bottom: 50px;
        margin-top: 50px;
        &:after{
            content: 'Blog';
            font-family: sans-serif;
            position: absolute;
            top:-35px;
            left: 0px;
            opacity: 0.2;
            font-weight:bolder;
            font-size: 64px;
        }
        .name{
           @include name;
        }
    }

    .hot-title{
        position: relative;
        margin-bottom: 50px;
        margin-top: 50px;
        &:after{
            content: 'Hot tour';
            font-family: sans-serif;
            position: absolute;
            top:-35px;
            left: 0px;
            opacity: 0.2;
            font-weight:bolder;
            font-size: 64px;
        }
        .name{
           @include name;
        }
    }
}

.gettouch{
    width: 100%;
    height: 350px;
    background-color: rgba($light-yellow-color, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 768px){
    .banner{
        padding-left:unset;
        align-items: center;
        justify-content: flex-start;
    }
}


@media screen and (max-width:540px ){
    .banner{
        justify-content: center;
        h2{
            font-size: 40px;
        }
        >p{
            font-size: 14px;
        }
    }
    .categorys{
        .category-title{
            margin-top: 10px;
            .name{
                font-size: 18px;
            }
            &:after{
                font-size: 30px;
                font-weight: 32px;
                top: -10px;
            }
        }
        .blog-title{
            margin-top: 10px;
            &:after{
                font-size: 30px;
                font-weight: 32px;
                top: -10px;
            }
            .name{
               @include name;
               font-size: 18px !important;
            }
        }
    }
    .description{
        margin-top: 10px !important;
        font-size: 14px;
    }

    .landing-blog-item{
        .blog-name{
            font-size: 16px;
        }
        .blog-date{
            font-size: 14px;
        }
        .blog-own{
            font-size: 14px;
        }
        .blog-content{
            font-size: 16px;
        }
    }

    .gettouch{
        >p{
            &:nth-child(1){
                font-size: 30px;
            }
            &:nth-child(2){
                font-size: 18px;
            }
        }
        >button{
            margin-top: 10px;
            font-size: 16px;
        }
    }
}