@import '../variable.scss';
.login-section{
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
    overflow: hidden;
    
}

.panel-login{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $primary-color;
        border-radius: 0 0 90% 0/0 0 100% 0;
        transform: scaleY(1.4);
    }
    .panel-content{
        .register{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.right-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .form-login{
        >p{
            font-weight: bold;
        }
        >input{
            width: 400px;
            height: 50px;
            padding: 20px;
            margin: 10px 0px;
            border-radius: 25px;
            border: unset;
            background-color:rgba($color: gray, $alpha: 0.2);
        }

        >button{
            border: unset;
            border-radius: 25px;
            font-weight: bold;
        }
    }
    >p{
        font-weight: 500;
    }

    
    .google{
        width:300px;
        height: 60px;
        border-radius: 5px;
        border: 1px solid $primary-color;
        display: flex;
        align-items: center;
        padding-left: 20px;
        .google-logo{
            width: 40px;
            height: 40px;
        }
        .google-button{
            background-color: transparent;
            border: unset;
            font-size: 24px;
        }
    }

    .facebook{
        width:300px;
        height: 60px;
        border-radius: 5px;
        border: 1px solid $primary-color;
        display: flex;
        align-items: center;
        padding-left: 20px;
        .google-logo{
            width: 40px;
            height: 40px;
        }
        .google-button{
            background-color: transparent;
            border: unset;
            font-size: 24px;
        }
    }
}

@media screen and (max-width:990px){
    .panel-login{
        height: 30%;
        min-height: unset;
        &:before{
            background: white !important;
        }
        .panel-content{
            >img{
                width: 300px;
            }
            .register{
                display: flex;
                flex-direction: row;
                >button{
                    border-color: #333;
                   >a{
                    color: #333 !important;
                   }
                }
                >p{
                    width: 50%;
                    color: #333 !important;
                }
            }
        }
    }
    .right-login{
    }
}