@import '../variable.scss';
.register-section{
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}

.panel-register{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(45deg,$light-yellow-color,$light-pink-color);
        border-radius: 0 0 0 90%/0 0  0 100%;
        transform: scaleY(1.4);
    }
}

@media screen and (max-width:990px){
    .panel-register{
        min-height: unset;
        &:before{
            background: white !important;
        }
        .panel-content{
            >img{
                width: 300px;
            }
            >h2{
                color: #333;
            }
            >p{
                color: #000;
            }
            .button-signup {
                height: 50px;
                border-color: red;
            }
        }
    }
}