.blog-item{
    padding: 20px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    min-height: 400px;
    margin-bottom: 10px !important;
    .b-image{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        max-height: 400px;
        &:before{
            content: '';
            display: block;
            padding-top: 50%;
        }
        >img{
            position:absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
           
        }
    }


    .b-contact{
        max-height: 400px;
        overflow: hidden;
        margin-bottom: 10px;
        .b-name{
            font-size: 32px;
            font-weight: 700;
        }

        .b-date{
            font-size: 18px;
            color: gray;
            font-weight: 600;
        }

        .b-own{
            color: rgb(239, 186, 108);
            font-size: 18px;
            font-weight: 600;
        }

        .b-content{
            font-size: 16px;
            color: gray;
        }
    }
}