.box-image{
    max-width: 100%;
    height: auto;
}

.title{
    &:after{
        content: "What new's";
        font-family: sans-serif;
        position: absolute;
        top:-35px;
        left: 0px;
        opacity: 0.2;
        font-weight:bolder;
        font-size: 64px;
    }
    .category{
        font-weight: 700;
        font-size: 32px;
        color:rgb(148, 3, 3);
    }
}
.description{
    margin-top: 10px;
    font-size: 18px;
    color:black;
}

@media screen and (max-width:540px ){
    .title{
        margin-top: 10px;
        .category{
            font-size: 18px;
        }
        &:after{
            font-size: 30px;
            font-weight: 32px;
            top: 0px;
            left: 14px;
        }
    }
    .description{
        margin-top: 10px !important;
        font-size: 14px;
    }
}