.ltr2s{
    animation-name: leftToRight;
    animation-duration: 2s;
}
.ltr3s{
    animation-name: leftToRight;
    animation-duration: 3s;
}

.rtl1s{
    animation-name: rightToleft;
    animation-duration: 1s;
}
.rtl2s{
    animation-name: rightToleft;
    animation-duration: 2s;
}

.rtl3s{
    animation-name: rightToleft;
    animation-duration: 3s;
}
.rtl4s{
    animation-name: rightToleft;
    animation-duration: 4s;
}

.effect{
    animation-name: showEffect;
    animation-duration: 4s;
}

@keyframes showEffect{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rightToleft{
    0% {
        margin-right: -500%;
    }

    100%{
        margin-right: 0;
    }
}

@keyframes leftToRight{
    0% {
        margin-left: -500%;
    }

    100%{
        margin-left: 0;
    }
}