@import './variable.scss';
.row{
    margin: unset !important;
}
.middle{
    justify-content: center;
}

.font-bold{
    font-weight: bold;
}

.center{
    align-items: center;
}

.text-sm{
    font-size: 16px;
}

.text-md{
    font-size: 24px;
}

.text-lg{
    font-size: 48px;
}

.text-primary{
    color: $primary-color;
}
.text-light-pink{
    color :$light-pink-color !important;
}

.text-light-yellow{
    color :$light-yellow-color !important;
}