@import './variable.scss';
.button-base{
    background-color: $primary-color;
    width: 150px;
    height: 50px;
    border: unset;
    border-radius: 7px;
}

.input-base{
   min-width: 250px;
   height: 40px !important;
   border: 1px solid black;
   padding: 10px;
   border-radius: 4px;
}



.nav-des{
    list-style: none;
    display: flex;
    margin-bottom: 0;
    width: 100%;
    height: 100%;

    .nav-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .nav-link{
            color: white;
            text-transform: uppercase;
            padding: .5rem 1rem 0 1rem;
        }
        &:hover{
           >a{
            color: lightblue;
           }
           .nav-line{
                margin-left:0;
                opacity: 1;
           }
        }
        .nav-line{
            width: 100%;
            height: 2px;
            background-color: red;
            margin-left: -101%;
            transition: margin 0.5s ease-out;
            opacity: 0;
        }
    }
}

.nav-mobile{
    display: none;
    margin-right: 10px;
    align-items: center;
    width: 100%;
    cursor: pointer;
    .togglenav{
        position: fixed;
        width: 100%;
        box-shadow: 0px 6px 19px rgba(130, 40, 28, 0.3);
        // right: -10px;
        top: 50px;
        height: calc(100vh - 50px);
        z-index: 99;
        background-color: white;
        >a{
            height: 50px;
            color: black;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            &:hover{
                background-color: lightcyan;
                color: lightslategrey;
                font-weight: bold;
            }
        }
    }
    .navb-toggle{
        margin-right: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }

    .nav-mobile-control{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        button{
            margin: 20px;
            height: 50px;
            width: 100%;
            max-width: 200px;
            border-radius: 7px;
            border: unset;
            &:nth-child(1){
                background-color: $light-yellow-color;
            }
            &:nth-child(2){
                background-color: $light-pink-color;
            }
            &:nth-child(3){
                background-color: $dark-blue-color;
                color: white;
            }
            &:nth-child(4){
                background-color: $primary-color;
            }
        }
    }
}

.form{
    >input{
        width: 400px;
        height: 50px;
        padding: 20px;
        margin: 10px 0px;
        border-radius: 25px;
        border: unset;
        background-color:rgba($color: gray, $alpha: 0.2);
    }

    >textarea{
        width: 400px;
        padding: 20px;
        margin: 10px 0px;
        border-radius: 25px;
        border: unset;
        background-color:rgba($color: gray, $alpha: 0.2);
    }

    >button{
        border: unset;
        border-radius: 25px;
        font-weight: bold;
    }
}


.panel-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    height: 100%;
    padding: 3rem 2rem 2rem 2rem;
    h2{
        color:  #fff;
    }
    p{
        color: #fff;
        width: 60%;
        text-align: center;
    }
    img{
        width: 100%;
        max-height:700px;
    }
    .button-signup{
        border: 2px solid #fff;
        background-color: transparent;
        border-radius: 25px !important;
        &:hover{
            transform: scale(1.1);
        }
        >a{
            color: white;
            &:hover{
                text-decoration: unset;
            }
        }
    }
}

.line-clamp-5{
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.col-sm-12{
    padding: unset !important;
}


@media screen and (max-width:990px){
    
}

@media screen and (max-width: 768px){
    .nav-des{
        display: none !important;
    }
    .nav-mobile{
        display: flex;
        justify-content: space-between;
    }
}

[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translate(0);
}
[data-aos][data-aos][data-aos-duration="800"], body[data-aos-duration="800"] [data-aos] {
    transition-duration: .8s;
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity,transform;
}
[data-aos=fade-right] {
    transform: translate(-100px);
}