@import './common.scss';
@import './custom.scss';
@import './variable.scss';
@import './containers/index.scss';
@import '~antd/dist/antd.css';
@import './animation.scss';
body{
    margin: 0;
    font-family: sans-serif;
}

p{
    margin: 0;
    padding: 0;
}